* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right,  white, black);
}

.interface {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto;
    width: 100%;
    padding: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 15px 15px;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 8px 10px 2px;
    position: relative;
    width: 90%;
    max-width: 450px;
    min-height: 300px;
    justify-content: center;
}

form h1 {
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
}

form label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}
form input {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

form select {
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.box-result {
    font-family: sans-serif;
    font-style: italic;
    font-size: 14px;
    border-radius: 10px;
    border-width: thin;
    border-left-style: solid;
    border-left-width: thick;
    padding: 5px;
    margin-top: 10px;
}

.btn {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background: black;
    padding: 5px;
    margin-top: 10px;
}